<!-- Social Icons-->
<!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
<div class="social-icons">
    <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <a class="btn btn-dark m-3" href="https://github.com/Pauloparakleto/daskapital"><i class="fab fa-github"></i></a>
        <a class="btn btn-dark m-3" href="https://www.linkedin.com/in/paulo-souza-a8998410a/"><i class="fab fa-linkedin"></i></a>
        <a class="btn btn-dark m-3" href="https://www.youtube.com/@paulofelipesilvadesouza7287"><i class="fab fa-youtube"></i></a>
    </div>
</div>
