<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
      <h1 class="fst-italic lh-1 mb-4">Sua contribuição do INSS</h1>
      <h2><%= number_to_currency(@inss_calculator.contribution, unit: "R$", separator: ",") %></h2>
        <p><%= @inss_calculator.present %></p>
        <p class="mb-5">A este valor, some os demais benefícios tais como salário família, vale transporte e plano de saúde. Que estão discriminados em seu contra-cheque.</p>
      <%= link_to "Realizar outro cálculo", root_path, class: "btn btn-primary btn-lg", data: { turbo: false }%>
    </div>
  </div>
</div>
