<footer class="footer">
  <!-- Social Icons-->
  <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
  <div class="footer-social-icons">
    <div class="d-flex flex-row justify-content-center justify-content-md-end mt-3">
          <a class="btn btn-dark m-3" href="https://github.com/Pauloparakleto/daskapital"><i class="fab fa-github fa-sm"></i></a>
          <a class="btn btn-dark m-3" href="https://www.linkedin.com/in/paulo-souza-a8998410a/"><i class="fab fa-linkedin fa-sm"></i></a>
          <a class="btn btn-dark m-3" href="https://www.youtube.com/@paulofelipesilvadesouza7287"><i class="fab fa-youtube fa-sm"></i></a>
      </div>
  </div>
</footer>
